@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Regular';
    src: local('AvenirNextLTPro-Regular'),
        url(./fonts/AvenirNextLTPro-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Bold';
    src: local('AvenirNextLTPro-Bold'),
        url(./fonts/AvenirNextLTPro-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Italic';
    src: local('AvenirNextLTPro-It'),
        url(./fonts/AvenirNextLTPro-It.otf) format('opentype');
}

body {
    margin: 0;
    font-family: 'Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply text-primaryText;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
